/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
h1{
    text-align: center;
    font-weight: bolder;
    font-size: 60px;
    
    
}
#range{
    text-align: right;
}
#question{
    font-size:60px;
    background-color: beige;
    height: 10px;
    width: 80px;
    color: black;
    padding: 10px;
}
input{
    margin-top: 20px;
    padding: 10px;
    height: 20px;
    width: 200px;
    text-align: center;
    font-size: 20px;
    position: relative;

}
button{
    background-color: blanchedalmond;
    color:black;
    height: 40px;
    width: 130px;
    border-radius: 10px;
}
#again{
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    padding-top: 7px;
    padding-left: 30px;
    
}
#check{
    text-align: center;
    font-size:20px ;
}
#rightbox{
    /* display: flex; */
    position: absolute;
    right: 70px;
    
}


