body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


}
.Container{
    width: 250px;
    background-color:aliceblue;
    padding: 60px;
    text-align: center;
}
#operators {
    width: 70%;
    text-align: center;
}